extends ../application.pug
block content
  include ../navbar
  .container
    h1 Search results
    .row
      each result in results
        .col-xs-3
          h2= result.lastname
          h3= result.firstname
          p= result.email
